@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% - 128px));
  }
}

.animate-scroll {
  animation: scrollUp 15s linear infinite;
}

.radix-tooltip-content {
  animation: fadeIn 150ms ease-out;
}

@keyframes expandMenu {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

:root {
  --background: #e6f8ff;
  --aside-background: linear-gradient(135deg, #fff, #e2ebff);
  --text-color: black;
  --text-against-part-node: #4e6176;
  --text-color-alt: white;
  --box-shadow: #00000082 0px 9px 13px -4px;
  --font-inter: "Inter", sans-serif;
  --tooltip-background: white;
  --tooltip-text: black;
  --overlay-background: #000000c9;
  --conflict-handle-bg: #5a4784;
  --part-handle-bg: #88b7fd;
  --create-conflict-bg: #5a4784;
  --toggle-utilities: white;
  --aside-shadow: #171717;
  --part-button-shadow: #00000082;
  --impression-button-shadow: black;
  --conflict-button-shadow: black;
}

.dark {
  --background: #2a3545;
  --aside-background: linear-gradient(135deg, #101418, #142235);
  --text-color: white;
  --text-color-alt: black;
  --text-against-part-node: var(--text-color);
  --box-shadow: #000000a8 0px 7px 16px -4px;
  --tooltip-background: #161616;
  --tooltip-text: white;
  --overlay-background: #000000b0;
  --conflict-handle-bg: #5a4784;
  --part-handle-bg: #baceec;
  --create-conflict-bg: #5a4784;
  --toggle-utilities: white;
  --aside-shadow: #171717;
  --part-button-shadow: #00000082;
  --impression-button-shadow: black;
  --conflict-button-shadow: black;
}

@layer base {
  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--text-color);
  }
}

@layer utilities {
  .bg-theme {
    background: var(--background);
  }
  .bg-aside {
    background: var(--aside-background);
  }
  .text-theme {
    color: var(--text-color);
  }
  .text-alt {
    color: var(--text-color-alt);
  }
  .text-node {
    color: var(--text-against-part-node);
  }
  .shadow-theme {
    box-shadow: var(--box-shadow);
  }
  .bg-tooltip {
    background: var(--tooltip-background);
  }
  .text-tooltip {
    color: var(--tooltip-text);
  }
  .bg-overlay {
    background: var(--overlay-background);
  }
  .bg-conflict-handle {
    background-color: var(--conflict-handle-bg);
  }
  .bg-part-handle {
    background-color: var(--part-handle-bg);
  }
  .bg-create-conflict {
    background: var(--create-conflict-bg);
  }
  .text-toggle-utilities {
    color: var(--toggle-utilities);
  }
  .shadow-aside {
    box-shadow: var(--aside-shadow) 0px 0px 10px 0px;
  }
  .shadow-part-button {
    box-shadow: 0 4px 9px -4px var(--part-button-shadow);
  }
  .shadow-impression-button {
    box-shadow: 1px 2px 4px 0px var(--impression-button-shadow);
  }
  .shadow-conflict-button {
    box-shadow: 1px 2px 4px 0px var(--conflict-button-shadow);
  }
  .modal-overlay {
    background: var(--overlay-background);
  }
}

[contenteditable] font[size="1"] {
  font-size: 0.75rem;
}
[contenteditable] font[size="2"] {
  font-size: 0.875rem;
}
[contenteditable] font[size="3"] {
  font-size: 1rem;
}
[contenteditable] font[size="4"] {
  font-size: 1.25rem;
}
[contenteditable] font[size="5"] {
  font-size: 1.5rem;
}
[contenteditable] font[size="6"] {
  font-size: 1.875rem;
}
[contenteditable] font[size="7"] {
  font-size: 2.25rem;
}
[contenteditable] ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}
[contenteditable] ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
}

* {
  font-family: var(--font-inter);
}

body {
  background: var(--background);
}

.react-flow__node {
  box-shadow: var(--box-shadow);
}

.react-flow__node-emotion,
.react-flow__node-thought,
.react-flow__node-sensation,
.react-flow__node-behavior,
.react-flow__node-other,
.react-flow__node-default {
  border-radius: 12px !important;
}

.img-cropper {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.img-cropper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center top;
}

button {
  cursor: pointer;
}

#tour-modal-tooltip {
  background: var(--tooltip-background);
  color: var(--tooltip-text);
}

#tour-modal-tooltip-arrow {
  border-right-color: var(--tooltip-background);
}

#tour-modal p,
#tour-modal button {
  color: var(--tooltip-text);
}

.conflict-handle {
  width: 16px !important;
  height: 16px !important;
  background-color: var(--conflict-handle-bg) !important;
  border: none !important;
}

.part-handle {
  width: 20px !important;
  height: 20px !important;
  background-color: var(--part-handle-bg) !important;
  border: none !important;
}

#impression-dropdown-container {
  height: calc(100vh - 100px);
}

.light #create-conflict-button {
  background: var(--create-conflict-bg) !important;
  box-shadow: 1px 2px 4px 0px var(--conflict-button-shadow);
}

#create-part-button {
  box-shadow: 0 4px 9px -4px var(--part-button-shadow);
}

#create-impression-button {
  box-shadow: 1px 2px 4px 0px var(--impression-button-shadow);
}

.animate-scroll {
  animation: scroll 12s linear infinite;
}
