@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.radix-tooltip-content {
  animation: fadeIn 150ms ease-out;
}

:root:has(.light) {
  --background: #f8f6f0;
  /* --aside-background: white; */
  --aside-background: linear-gradient(135deg, #fff, #e2ebff);

  --text-color: black;
  --text-against-part-node: #4e6176;
  --text-color-alt: white;
}

@theme inline {
  --color-background: var(--background);
  --color-aside-background: var(--aside-background);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root:has(.dark) {
    --background: #2a3545;
    /* --aside-background: #242c36;*/
    --aside-background: linear-gradient(135deg, #101418, #142235);
    --text-color: white;
    --text-color-alt: black;
    --text-against-part-node: var(--text-color);
  }
}
[contenteditable] font[size="1"] {
  font-size: 0.75rem;
}
[contenteditable] font[size="2"] {
  font-size: 0.875rem;
}
[contenteditable] font[size="3"] {
  font-size: 1rem;
}
[contenteditable] font[size="4"] {
  font-size: 1.25rem;
}
[contenteditable] font[size="5"] {
  font-size: 1.5rem;
}
[contenteditable] font[size="6"] {
  font-size: 1.875rem;
}
[contenteditable] font[size="7"] {
  font-size: 2.25rem;
}

[contenteditable] ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}

[contenteditable] ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
}

* {
  font-family: var(--font-inter);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.img-cropper {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.img-cropper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center top;
}

#app {
  width: 100vw;
  height: 100vh;
}

/* Dark Mode */
p,
h1,
h2,
h3,
h4,
h5,
input,
select,
button {
  color: var(--text-color);
}

textarea {
  color: white;
}

button {
  cursor: pointer;
}

#modal-overlay {
  background: #000000b0;
}

.light #modal-overlay {
  background: #000000c9;
}

#tour-modal-tooltip,
#tour-modal-tooltip-arrow {
  background: "white";
}

.light #tour-modal-tooltip {
  background: #161616;
}

.light #tour-modal-tooltip-arrow {
  border-right-color: #161616;
}

#tour-modal p,
#tour-modal button {
  color: black;
}

#journal-editor div {
  color: var(--text-color);
}

#journal-drawer {
  background: var(--background);
}

.dark #journal-editor #save-entry:hover {
  color: black;
}

#journal-drawer div {
  color: var(--text-color);
}

#journal-editor select {
  background: var(--background);
}

#editor-text .text-default {
  color: var(--text-color-alt);
}

.conflict-handle {
  width: 16px !important; /* Adjust size as needed */
  height: 16px !important;
  background-color: #5a4784 !important; /* Keep visible */
  border: none !important;
}

.part-handle {
  width: 20px !important; /* Adjust size as needed */
  height: 20px !important;
  border: none !important;
}

.light .part-handle {
  background-color: #88b7fd !important;
}

.dark .part-handle {
  background-color: #baceec !important; /* Keep visible */
}

.part-impression-container {
  @apply rounded-[10px] p-4;
}

#sidebar {
  background: var(--aside-background);
  flex: "0 0 250px";
}

.light #sidebar-buttons button {
  box-shadow: 0px 0px 6px 0px #656565;
  color: var(--text-color-alt);
}

#toggle-utilities {
  color: white;
}

.light .part-node {
  border: none;
}

.light .soothing-techniques h3,
.light .soothing-techniques li {
  color: var(--text-against-part-node);
}

/* .light .part-impression-node li, */
.light .conflict-node p,
.light .conflict-node div,
.light .conflict-node input {
  color: white;
}

.light #create-conflict-button {
  background: #5a4784 !important;
}

.node {
  box-shadow: 0px 9px 13px -4px black;
}

.PW {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.PW aside {
  padding: 15px 10px;
  box-shadow: #171717 0px 0px 10px 0px;
  z-index: 1;
}

.PW .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .PW {
    flex-direction: row;
  }

  .PW aside {
    width: 200px;
  }
}
