.theme-light {
    /* Assistant */
    --theme-assistant-button-bg: white;
    --theme-assistant-bg: linear-gradient(152deg, rgb(255, 255, 255), rgb(248, 250, 252));
    --theme-assistant-part-message-bg: linear-gradient(152deg, rgb(248, 250, 252), rgb(241, 245, 249));

    /* Account Dropdown */
    --theme-account-dropdown-bg: linear-gradient(to bottom right, rgb(255 255 255), rgb(248 250 252));
    --theme-account-dropdown-border: rgb(226 232 240);

    --theme-account-dropdown-item-bg-hover: #f3f4f6;
    --theme-account-dropdown-item-text-color: #111827;
    --theme-account-icon-bg: rgb(255 255 255); /* white */
    --theme-account-icon-border: rgb(226 232 240); /* slate-200 */
    --theme-account-icon-border-hover: rgb(148 163 184);

    /* Feedback Form */
    --theme-feedback-form-bg: white;
    --theme-feedback-form-border: rgba(0, 0, 0, 0.1);
    --theme-feedback-form-text-primary: #1e293b;
    --theme-feedback-form-text-secondary: #64748b;
    --theme-feedback-form-header-bg: linear-gradient(to bottom, rgba(254, 241, 242, 0.3), white);
    --theme-feedback-form-header-border: rgba(0, 0, 0, 0.1);
    --theme-feedback-form-header-gradient: linear-gradient(to bottom, rgba(254, 241, 242, 0.3), white);
    --theme-feedback-form-content-bg: white;
    --theme-feedback-form-input-bg: #f8fafc;
    --theme-feedback-form-input-border: rgba(0, 0, 0, 0.1);
    --theme-feedback-form-input-text: #1e293b;
    --theme-feedback-form-input-placeholder: #94a3b8;
    --theme-feedback-form-attach-button-bg-hover: #f1f5f9;
    --theme-feedback-form-attach-button-text: #64748b;
    --theme-feedback-form-toggle-container-bg: #fcf9fb;
    --theme-feedback-form-toggle-text: #1e293b;
    --theme-feedback-form-footer-bg: linear-gradient(to bottom, white, rgba(254, 241, 242, 0.3));
    --theme-feedback-form-footer-border: none;
    --theme-feedback-form-footer-gradient: linear-gradient(to bottom, white, rgba(254, 241, 242, 0.3));
    --theme-feedback-form-footer-text: #94a3b8;
    --theme-feedback-form-file-preview-bg: #f8fafc;
    --theme-feedback-form-file-preview-border: #e2e8f0;
    --theme-feedback-form-submit-button-bg: linear-gradient(to right, #0ea5e9, #06b6d4);
    --theme-toggle-button-bg-anon: #0ea5e9;
    --theme-toggle-button-bg: #e2e8f0;
    --theme-send-feedback-button-text: #ffffff;
}
