.theme-light {
    /* Journal Components */
    --theme-text: black;
    --theme-journal-mode-card-bg: white;
    --theme-journal-mode-card-hover-bg: rgba(59, 130, 246, 0.05);
    --theme-journal-mode-card-textthread-hover-bg: rgba(168, 85, 247, 0.05);
    --theme-journal-mode-card-journal-icon-bg: rgb(219, 234, 254);
    --theme-journal-mode-card-journal-icon-color: rgb(37, 99, 235);
    --theme-journal-mode-card-journal-pill-bg: rgba(59, 130, 246, 0.15);
    --theme-journal-mode-card-journal-pill-color: rgb(37, 99, 235);
    --theme-journal-mode-card-textthread-icon-bg: rgb(243, 232, 255);
    --theme-journal-mode-card-textthread-icon-color: rgb(147, 51, 234);
    --theme-journal-mode-card-textthread-pill-bg: rgba(168, 85, 247, 0.15);
    --theme-journal-mode-card-textthread-pill-color: rgb(147, 51, 234);
    --theme-journal-entry-card-bg: white;
    --theme-journal-entry-card-inactive-bg: white;
    --theme-journal-entry-card-active-bg: #f1f5f9;
    --theme-journal-entry-card-hover-bg: #f1f5f9;
    --theme-journal-entry-card-active-badge-bg: white;
    --theme-journal-entry-card-active-badge-color: rgb(30, 41, 59);
    --theme-journal-entry-delete-hover-bg: rgba(239, 68, 68, 0.1);
    --theme-journal-tab-button-active-bg: white;
    --theme-journal-tab-button-inactive-bg: transparent;
    --theme-journal-tab-button-hover-bg: transparent;
    --theme-journal-tab-border-inactive: rgb(226, 232, 240);
    --theme-journal-textthread-container-bg: rgb(241, 245, 249);
    --theme-journal-entry-card-active-shadow:
        rgba(59, 130, 246, 0.2) 0px 0px 0px 2px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
}
