.theme-dark {
    /* Assistant */
    --theme-assistant-button-bg: #2a2e32;
    --theme-assistant-bg: linear-gradient(152deg, rgb(29, 29, 30), rgb(28, 31, 35));
    --theme-assistant-part-message-bg: linear-gradient(152deg, rgb(39, 43, 47), rgb(35, 39, 43));

    /* Account Dropdown */
    --theme-account-dropdown-item-bg-hover: #1e2125;
    --theme-account-dropdown-item-text-color: #fff;
    --theme-account-icon-bg: rgb(15 23 42 / 0.8); /* slate-900/80 */
    --theme-account-icon-border: var(--border);
    --theme-account-icon-border-hover: rgb(100 116 139); /* slate-500 */
    --theme-account-dropdown-bg: rgb(33, 37, 41);
    --theme-account-dropdown-border: none;

    /* Feedback Form */
    --theme-feedback-form-bg: #2a2e32;
    --theme-feedback-form-border: #1e2125;
    --theme-feedback-form-text-color: #fff;
    --theme-feedback-form-input-bg: #2a2e32;
    --theme-feedback-form-input-border: #1e2125;
    --theme-feedback-form-input-text-color: #fff;
    --theme-feedback-form-input-placeholder-color: #888;
    --theme-feedback-form-input-focus-border-color: #1e2125;
    --theme-feedback-form-input-focus-text-color: #fff;
}
